    @charset "UTF-8";
        
        body {
            background-color: rgb(170, 16, 16);
            color: rgb(5, 5, 122);
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 20px;
        }
        h1{
            color: rgb(26, 1, 49);
            background-color: cadetblue;
         }
         h2{
            color: rgb(174, 226, 121);
         }
         p{
            text-align: justify;
         }
