#charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to top, #8A7824, 
    #942E26);
}
main {
    background-color: antiquewhite;
    border-radius: 15px;
    box-shadow: 10px 5px 5px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #269457;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

h2 {
    color: #928229;
    text-shadow: 1px 1px 1px black;
}

p {
    text-align: justify;
}